@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800;900&display=swap');
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    background-color: #0062ff;
    padding: 10px;
    width: 100%;
    z-index: 5;
    text-align: center;
    margin-top: -5px;
}

header h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    border: solid 5px #fff;
    color: #fff;
    /*background-color: #0062ff;*/
    display: inline-block;
    padding: 2px 15px;
    border-radius: 32px;
}

.welcome {
    max-width: 100%;
    width: 1200px;
    /*background-color: darkslateblue;*/
    position: relative;
    margin: 10 px auto;
    height: 550px;
}

.welcome img {
    position: absolute;
    top: 28%;
    width: 200px;
    left: 70%;
    border-radius: 100%;
    background-color: darkgray;
    border-top-right-radius: 0px;
}

.welcome h2 {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    left: 5%;
    top: 40%;
    color: #333;
    position: 12;
}

.welcome h2 span {
    font-weight: bold;
    color: #0062ff;
}

nav {
    position: sticky;
    top: 60px;
    margin: 25px auto;
    background-color: darkgrey;
    z-index: 15;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #222;
    text-transform: lowercase;
}


/* main content style */

main.main-content {
    width: 100%;
    max-width: 1000px;
    margin: 75px auto;
}

section h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #0062ff;
}

section p {
    font-size: 1.6rem;
}

.images {
    display: flex;
    justify-content: space-between;
}

.images li {
    list-style-type: none;
    margin-right: 20px;
}

.images img {
    width: 100%;
    border: solid 2px#e2e2e2;
    border-radius: 1rem;
}

div.services .row {
    display: flex;
    margin-bottom: 2rem;
}

div.service-title {
    display: flex;
}

.service-title img {
    width: 60px;
    margin-right: 15px;
}

div.service-title h3 {
    font-size: 1.5rem;
    color: #4444
}

form {
    border: solid 2px #ddd;
    width: 60%;
    padding: 25px;
    background-color: #0062ffb4;
    border-radius: 2rem;
}

form input[type='text'],
form input[type='email'],
form textarea {
    padding: 8px;
    font-size: 1.2rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 6px 0;
}

form input[type='submit'] {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 8px 24px;
    border-radius: 2rem;
}

.telephone {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.telephone img.logo {
    height: 50px;
    justify-content: center;
}

.telephone span.phone {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

div.form {
    position: relative;
}

div.form form {
    position: absolute;
    top: 20%;
    left: 40%;
}

footer {
    width: 100%;
    background-color: #0062ff;
    color: #fff;
    margin-top: 50px;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
}

footer p a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}


/*div.service div.service-title li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}*/